
*{
    margin: 0;
    padding: 0;
}
nav{
    height: 40px;
    width:auto;
    background-color: #b891b8;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
    position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
#logo{
    color: #e3cce0;
    float: left;
    margin-left: 40px;
    font-size: large;
    font-weight: 700;
}
#home{
    font-size: medium;
    display: inline;
    justify-content: center;
    margin-right: 50px; 
    text-decoration: none;
    color: #1a051a;
    font-weight: 500;
}
.nav{
    display: inline;
    justify-content: center;
    margin-right: 50px; 
    text-decoration: none;
    color: #1a051a;
    
}
body{
    background-color: #1a051a;
}
#greet{
    color: #e3cce0;
    font-size: 60px;
}
#intro{
    color: #e3cce0;
    font-size: 30px;
}
#container-left{
    width: 700px;
    /*margin-left: 50px;*/
    margin-top: 150px;
}
#container-left button{
    margin-top: 30px;
}
#container-right{
    width: 300px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #b891b8;
  float: right;
    margin-top: 150px;
    /*margin-right: 50px;*/
    margin-left: 100px;
}
#container-right img{
    width:100%;
}

first-section{
    margin-right: 70px;
    margin-left: 70px;
    display: flex;
}

.heading{
    color: #e3cce0;
    text-align:center;
    margin-top: 100px;
    margin-bottom: 50px;
}
#load {
	height: 100vh;
	background: #1a051a;
	display: flex;
	justify-content: center; 
	align-items: center;
}
.loader {
	display: inline-block;
	position: relative;
	width: 200px;
	height: 200px;
    align-items: center;
}
.loader div {
	position: absolute;
	border: 15px solid #b891b8;
	opacity: 1;
	border-radius: 50%;
	background: #1a051a;
	animation: animate 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	filter: drop-shadow(0 0 5px #b891b8) drop-shadow(0 0 23px #b891b8);
}
.loader div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes animate {
	0% {
		top: 100px;
		left: 100px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 200px;
		height: 200px;
		opacity: 0;
	}
}
.transition-1{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: 101;
    background-color: #e3cce0;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-out;
}
.transition-1.is-active{
    opacity: 1;
    pointer-events: all;
}
.transition-2{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    bottom:0;
    z-index: 101;
    background-color: #e3cce0;
    transition: 0.5s ease-out;
}
.transition-2.is-active{
    left: 0px;
}
