body {
	height: 100vh;
	background: #1a051a;
	display: flex;
	justify-content: center; 
	align-items: center;
}
.loader {
	display: inline-block;
	position: relative;
	width: 200px;
	height: 200px;
}
.loader div {
	position: absolute;
	border: 15px solid #b891b8;
	opacity: 1;
	border-radius: 50%;
	background: #1a051a;
	animation: animate 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	filter: drop-shadow(0 0 5px #b891b8) drop-shadow(0 0 23px #b891b8);
}
.loader div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes animate {
	0% {
		top: 100px;
		left: 100px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 200px;
		height: 200px;
		opacity: 0;
	}
}
