*{
    margin: 0;
    padding: 0;
}
nav{
    height: 40px;
    width:auto;
    background-color: rgb(174, 138, 166);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
    /* position: sticky;  */
}
#logo{
    color: rgb(214, 214, 214);
    float: left;
    margin-left: 40px;
    font-size: large;
    font-weight: 700;
}
#resume{
    font-size: medium;
    display: inline;
    justify-content: center;
    margin-right: 50px; 
    text-decoration: none;
    color: rgb(30, 6, 30);
    font-weight: 500;
}
.nav{
    display: inline;
    justify-content: center;
    margin-right: 50px; 
    text-decoration: none;
    color: rgb(30, 6, 30);
}
body{
    background-color: rgb(30, 6, 30);
}
#heading1{
    color:rgb(214, 214, 214);
    text-align: center;
    padding: 50px;
    font-size: 50px;
    text-decoration: underline;
}
.container{
    font-size: 40px;
    color: rgb(214, 214, 214);
    /* padding: 50px; */
    display: flexbox;

}
.container-left{
    float: left;
    width: 50%;
}
.title{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
    border: 3px solid rgb(174, 138, 166);
    text-align: center;
    font-size: 30px;
}
.container-right{
    float: right;
}
li{
    font-size: 25px;
}

.timeline{
    font-size: 15px;
    color: rgb(174, 138, 166);
}
.course{
    font-size: 20px;
}
.institute{
    font-size: 25px;
}
